
<ul class="list-inline quick-access">
    <li>
        <a href="/Account">
            <span class="quick-access-item bg-color-green">
                <i class="fa fa-bar-chart-o"></i>
                <h5>用户列表</h5><em>查看用户列表</em>
            </span>
        </a>
    </li>
    <li>
        <a href="/Account/Create">
            <span class="quick-access-item bg-color-blue">
                <i class="fa fa-envelope"></i>
                <h5>新建用户</h5><em>创建新用户</em>
            </span>
        </a>
    </li>
</ul>
