@model iKitchen.Web.Models.ForgetPasswordViewModel
@{
    ViewBag.Title = "Find Password";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!--=== Content Part ===-->
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
        @Html.Partial("_MessageBox")
        <div class="reg-block-header">
            <h2>Find Password</h2>
            <p>Don't Have Account? Click <a class="color-green" href="/Account/Register">Sign Up</a> to registration.</p>
        </div>
        @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary()

            @*@Html.ValidationMessageFor(m => m.UserName)*@
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })
                <b class="tooltip tooltip-bottom-left">Some helpful information</b>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">Find Password</button>
                </div>
            </div>
        }
    </div>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->
