.dark-bg {
  background: #333333 !important;
}
.white-bg {
  background: #ffffff !important;
}
.high-bg {
  background: #2AC4EA !important;
}
.grey-bg {
  background: #eeeeee !important;
}
.dark-text {
  color: #333333 !important;
}
.white-text {
  color: #ffffff !important;
}
.grey-text {
  color: #eeeeee !important;
}
.high-text {
  color: #2AC4EA !important;
}
.border-top-main {
  border-top: solid 50px #2AC4EA;
}
.border-top-dark {
  border-top: solid 50px #333333;
}
.border-top-white {
  border-top: solid 50px #ffffff;
}
.border-top-grey {
  border-top: solid 50px #eeeeee;
}
.image-lightbox-link > img {
  background: #2AC4EA;
}
.image-lightbox-link > img:hover {
  background: #333333;
}
.image-lightbox-link.color-alt > img {
  background: #333333;
}
.image-lightbox-link.color-alt > img:hover {
  background: #2AC4EA;
}
.menu a.active {
  color: #ffffff;
  background: #2AC4EA;
}
.menu a:hover {
  background: #2AC4EA;
}
.main-heading > span {
  color: #2AC4EA;
}
.sub-heading > span {
  border-bottom: solid 1px #2AC4EA;
}
.liner-medium,
.liner-small {
  background: #2AC4EA;
}
.high-bg > .liner-medium,
.high-bg > .liner-small {
  background: #333333;
}
.stats-info > span {
  color: #2AC4EA;
}
.about-featured {
  background: #2AC4EA;
}
.testimonial-wrap {
  background: #2AC4EA;
}
#mastfoot {
  background: #ffffff;
}
.credit-panel {
  background: #ffffff;
  border-top: solid 1px #eeeeee;
}
.btn-identity-color {
  border: solid 1px #2AC4EA;
  color: #2AC4EA;
}
.btn-identity-color:hover {
  border: solid 1px #2AC4EA;
  background: #2AC4EA;
  color: #ffffff;
}
.pace .pace-progress {
  background: #2AC4EA;
}
.pace .pace-progress:after {
  color: #ffffff !important;
}
.handle:hover {
  color: #2AC4EA;
}
.gallery-browse li  span {
  background: #2AC4EA;
}
.gallery-browse li  span:hover {
  border: solid 1px #2AC4EA;
  background: #ffffff;
}
.gallery-browse li  span:hover > a {
  color: #2AC4EA;
}
.grid li:hover figcaption {
  background: #2AC4EA;
}
.grid li:hover h3,
.grid li:hover p {
  color: #ffffff;
}
.grid li:hover .liner-small {
  background: #333333;
}
.portfolio-filter li  span {
  background: #ffffff;
}
.portfolio-filter li  span > a {
  color: #333333;
}
.portfolio-filter li  span:hover,
.portfolio-filter li  span.triggered {
  border: solid 1px #ffffff;
  background: #2AC4EA;
}
.portfolio-filter li  span.triggered > a {
  color: #ffffff;
}
.portfolio-filter li  span:hover > a {
  color: #ffffff;
}
.mediafolio-filter li {
  border: solid 1px #ffffff;
  background: #ffffff;
  color: #333333;
}
.mediafolio-filter li:hover {
  border: solid 1px #ffffff;
  background: #2AC4EA;
  color: #ffffff;
}
.mediafolio-filter li.triggered {
  border: solid 1px #ffffff;
  background: #2AC4EA;
  color: #ffffff;
}
.swiper-scrollbar {
  background: #333333;
}
.swiper-scrollbar-drag {
  background: #2AC4EA;
}
.va-slice ul li a,
.va-nav,
.va-title > span {
  background: #2AC4EA;
}
.intro-03-headletters {
  background: rgba(42,196,234,0.9);
}
.intro-03-sub-heading> span {
  border-bottom: solid 1px #ffffff;
}
.mediafolio-caps > p > span {
  color: #2AC4EA;
}
.intro-08-sub-heading > span {
  color: #ffffff;
  background: #2AC4EA;
}
.home-badge {
  border: solid 12px #2AC4EA;
}
.rounded-icon:hover {
  background-color: #2AC4EA;
}
.rounded-icon:hover  > a {
  color: #ffffff;
}
.alert {
  background: #2AC4EA;
}
.alert > p {
  color: #ffffff !important;
}