      <!-- page-section : starts -->
        <section id="about" class="about-bg">

            <!-- inner-section : starts -->
            <section id="about-wrap" class="inner-section">
                <!-- container : starts -->
                <section class="container">
                    <div class="row">
                        <article class="col-md-4 text-left">
                            <div class="welcome pad-common border-top-main">
                                <h1 class="main-heading">About Our Agency</h1>
                                <span class="liner-medium"></span>
                                <h3 class="sub-heading dark-text"><span>an awesome portfolio template for every creative people</span></h3>
                            </div>

                            <!-- testimonial-wrap : starts -->
                            <section class="testimonial-wrap pad-common">
                                <!-- testimonial-carousel : starts -->
                                <div id="testimonial-carousel" class="testimonial-carousel owl-carousel">

                                    <div class="item">
                                        <div class="testimonial-block">
                                            <img alt="" title="" src="/images/team/zihao.jpg" />
                                            <p>Top Geniues Person of the world</p>
                                            <h5><span>Zihao Chen</span></h5>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-block">
                                            <img alt="" title="" src="/images/team/02.jpg" />
                                            <p>Probably can be in same level as Zihao</p>
                                            <h5><span>Allen Xia</span></h5>
                                        </div>
                                    </div>

                                </div>
                                <!-- testimonial-carousel-wrap : ends -->

                            </section>
                            <!-- testimonial-wrap : ends -->
                            <div class="pad-common  dark-bg">
                                <h2 class="inner-heading white-text">Our Status</h2>
                                <span class="liner-small"></span>
                                <ul class="stats-list">
                                    <li class="row add-top-half">
                                        <div class="col-md-4 status-icon"><img alt="" title="" class="img-responsive" src="/images/stats/01.png" /></div>
                                        <div class="col-md-8">
                                            <p class="stats-text">23000</p>
                                            <p class="stats-info"><span>Tweets Done</span></p>
                                        </div>
                                    </li>
                                    <li class="row add-top-half">
                                        <div class="col-md-4 status-icon"><img alt="" title="" class="img-responsive" src="/images/stats/02.png" /></div>
                                        <div class="col-md-8">
                                            <p class="stats-text">1208K</p>
                                            <p class="stats-info"><span>Page Likes</span></p>
                                        </div>
                                    </li>

                                    <li class="row add-top-half">
                                        <div class="col-md-4 status-icon"><img alt="" title="" class="img-responsive" src="/images/stats/03.png" /></div>
                                        <div class="col-md-8">
                                            <p class="stats-text">342K</p>
                                            <p class="stats-info"><span>Shots Dribbbled</span></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </article>
                        <!-- column : ends -->

                        <article class="col-md-4 text-left">
                            <div class="about-content-main pad-common grey-bg border-top-dark">
                                <h2 class="inner-heading dark-text">Who We Are</h2>
                                <span class="liner-small"></span>
                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. Suspendisse non semper erat. <br /><br />Donec ullamcorper consectetur volutpat. Proin aliquam porttitor enim, eget congue felis faucibus ut. Suspendisse non semper erat. Donec ullamcorper consectetur volutpat. Pellentesque malesuada, odio non ullamcorper rhoncus, mi magna auctor neque, sed tempus sem ipsum sit amet tellus. <br /><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. Suspendisse non semper erat. Donec ullamcorper consectetur volutpat. <br /><br />Donec ullamcorper consectetur volutpat. Proin aliquam porttitor enim, eget congue felis faucibus ut. Pellentesque malesuada, odio non ullamcorper rhoncus, mi magna auctor neque, sed tempus sem ipsum sit amet tellus. </p>
                            </div>
                            <div class="about-content-main pad-common white-bg">
                                <h2 class="inner-heading dark-text">What We Do</h2>
                                <span class="liner-small"></span>
                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. Suspendisse non semper erat. <br /><br />Donec ullamcorper consectetur volutpat. Proin aliquam porttitor enim, eget congue felis faucibus ut. Pellentesque malesuada, odio non ullamcorper rhoncus, mi magna auctor neque, sed tempus sem ipsum sit amet tellus. <br /><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum.</p>
                            </div>
                            <div class="about-content-main pad-common high-bg">
                                <h3 class="query-heading white-text"><span>Getting impressed?</span></h3>
                                <a class="btn btn-identity" href="#">Visit Our Portfolio</a>
                            </div>

                        </article>
                        <article class="col-md-4 text-left ">
                            <!-- empty column -->
                        </article>
                    </div>
                </section>
                <!-- container : ends -->
            </section>
            <!-- inner-section : ends -->
        </section>
        <!-- page-section : ends -->