
<section id="portfolio" class="portfolio portfolio-bg">

    <!-- inner-section : starts -->
    <section id="portfolio-wrap" class="inner-section">
        <!-- container : starts -->
        <section class="container">
            <div class="row">
                <article class="col-md-8 text-left">
                    <div class="welcome pad-common white-bg  border-top-main">
                        <h1 class="main-heading">Masonry Folio</h1>
                        <span class="liner-medium"></span>
                        <h3 class="sub-heading dark-text"><span>a clean masonry, hide &amp; show filter folio with uniqe overlay content panels</span></h3>
                    </div>
                </article>
                <article class="col-md-4 text-left">
                    <div class="about-content-main pad-common high-bg border-top-white">
                        <h2 class="inner-heading white-text">Category Filter</h2>
                        <span class="liner-small"></span>
                        <ul class="portfolio-filter clearfix">
                            <li><span><a data-filter=".folio-item" href="#">Show All Works</a></span></li>
                            <li><span><a data-filter=".category1" href="#">Category 1</a></span></li>
                            <li><span><a data-filter=".category2" href="#">Category 2</a></span></li>
                            <li><span><a data-filter=".category3" href="#">Category 3</a></span></li>
                            <li><span><a data-filter=".category4" href="#">Category 4</a></span></li>
                            <li><span><a data-filter=".category4.category2" href="#">Category 4 AND 2</a></span></li>
                            <li><span><a data-filter=".category4, .category2" href="#">Category 4 OR 2</a></span></li>
                        </ul>
                    </div>
                </article>
            </div>


            <div class="row">
                <article class="col-md-12 text-left">

                    <div class="portfolio-container white-bg">


                        <div id="grid-gallery" class="grid-gallery">
                            <section class="grid-wrap">
                                <ul id="grid" class="grid">
                                    <li class="grid-sizer"></li><!-- for Masonry column width -->
                                    <li class="folio-item category1">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/1.jpg" alt="img01" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category4">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/2.jpg" alt="img02" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category2">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/3.jpg" alt="img03" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category3">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/4.jpg" alt="img04" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category1">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/5.jpg" alt="img05" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category2">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/6.jpg" alt="img06" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category4 category2">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/1.jpg" alt="img01" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category3">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/2.jpg" alt="img02" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category1">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/3.jpg" alt="img03" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category4">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/4.jpg" alt="img04" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category1">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/5.jpg" alt="img05" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category2">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/1.jpg" alt="img01" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category1">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/1.jpg" alt="img01" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category3">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/2.jpg" alt="img02" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category4">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/3.jpg" alt="img03" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category2">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/4.jpg" alt="img04" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category2">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/5.jpg" alt="img05" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category1">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/6.jpg" alt="img06" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category4">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/1.jpg" alt="img01" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category2">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/2.jpg" alt="img02" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category3">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/3.jpg" alt="img03" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category1">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/4.jpg" alt="img04" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category3">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/5.jpg" alt="img05" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="folio-item category4">
                                        <figure>
                                            <img src="/images/grid-portfolio/thumb/1.jpg" alt="img01" />
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p>Category</p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </section><!-- // grid-wrap -->
                            <section class="slideshow">
                                <ul>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/1.jpg" alt="img01" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/2.jpg" alt="img02" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/3.jpg" alt="img03" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/4.jpg" alt="img04" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/5.jpg" alt="img05" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/6.jpg" alt="img06" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/1.jpg" alt="img01" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/2.jpg" alt="img02" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/3.jpg" alt="img03" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/4.jpg" alt="img04" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/5.jpg" alt="img05" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/1.jpg" alt="img01" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/1.jpg" alt="img01" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Vice velit chia</h3>
                                                <p>Tattooed assumenda chambray cray officia. 90's mollit ethnic church-key ex eu pop-up gentrify. Tonx raw denim eu, bitters nesciunt distillery Neutra pop-up. Drinking vinegar Helvetica Truffaut tattooed.</p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/2.jpg" alt="img02" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/3.jpg" alt="img03" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/4.jpg" alt="img04" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/5.jpg" alt="img05" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/6.jpg" alt="img06" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/1.jpg" alt="img01" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/2.jpg" alt="img02" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/3.jpg" alt="img03" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/4.jpg" alt="img04" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/5.jpg" alt="img05" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <figcaption>
                                                <h3>Project Title</h3>
                                                <span class="liner-small"></span>
                                                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
                                            </figcaption>
                                            <img src="/images/grid-portfolio/large/1.jpg" alt="img01" />
                                        </figure>
                                    </li>
                                </ul>
                                <nav>
                                    <span class="glyphicon glyphicon-chevron-left nav-prev"></span>
                                    <span class="glyphicon glyphicon-chevron-right nav-next"></span>
                                    <span class="glyphicon glyphicon-remove nav-close"></span>
                                </nav>
                                <div class="info-keys icon">Navigate with arrow keys</div>
                            </section><!-- // slideshow -->
                        </div><!-- // grid-gallery -->

                    </div>
                    <!-- portfolio-container:ends-->



                </article>
            </div>
        </section>
        <!-- container : ends -->
    </section>
    <!-- inner-section : ends -->
</section>