
<section id="intro" class="intro parallax" style="background-image: url('/images/parallax/02.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="0">

    <!-- inner-section : starts -->
    <section class="inner-section">
        <!-- container : starts -->
        <section class="container">
            <div class="row">
                <article class="col-md-4 text-left">
                    <div class="intro-03-headletters full-height pad-common text-center">
                        <div class="valign">
                            <img alt="" title="" src="images/badge.png" />
                            <h1 class="caps-heading white-text">Our slogan is here...</h1>
                            <h3 class="intro-03-sub-heading dark-text"><span><a href="/Account/Register">Join us</a> for free!</span></h3>

                            <h4 class="intro-03-sub-heading dark-text"><span>Or, <a href="/Account/Register">log in</a> if you are already one of us.</span></h4>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <!-- container : ends -->
    </section>
    <!-- inner-section : ends -->
</section>