<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-4">
            <div class="view view-tenth">
                <img class="img-responsive" src="/assets/img/main/1.jpg" alt="" />
                <div class="mask">
                    <h2>Portfolio Item</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    <a href="/Event/EventDetail" class="info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="view view-tenth">
                <img class="img-responsive" src="/assets/img/main/2.jpg" alt="" />
                <div class="mask">
                    <h2>Portfolio Item</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    <a href="/Event/EventDetail" class="info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="view view-tenth">
                <img class="img-responsive" src="/assets/img/main/5.jpg" alt="" />
                <div class="mask">
                    <h2>Portfolio Item</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    <a href="/Event/EventDetail" class="info">Read More</a>
                </div>
            </div>
        </div>
    </div><!--/row-->

    <div class="row">
        <div class="col-md-4">
            <div class="view view-tenth">
                <img class="img-responsive" src="/assets/img/main/3.jpg" alt="" />
                <div class="mask">
                    <h2>Portfolio Item</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    <a href="/Views/Event/EventDetail" class="info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="view view-tenth">
                <img class="img-responsive" src="/assets/img/main/4.jpg" alt="" />
                <div class="mask">
                    <h2>Portfolio Item</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    <a href="/Views/Event/EventDetail" class="info">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="view view-tenth">
                <img class="img-responsive" src="/assets/img/main/6.jpg" alt="" />
                <div class="mask">
                    <h2>Portfolio Item</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    <a href="/Views/Event/EventDetail" class="info">Read More</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->