<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="ConfirmTitle">Confirm deletion</h3>
            </div>
            <div class="modal-body" id="ConfirmMessage">
                Are you sure you want delete this item?
            </div>
            <div class="modal-footer">
                <span id="ResultMessage" class="text-info margin-right-10"></span>
                <a class="btn-u btn-ok">Yes</a>
                <button type="button" class="btn-u btn-u-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>