<nav class="menu" id="sm">
    <div class="sm-wrap">
        <div id="logo" class="text-center"><img alt="" title="" src="/images/logo.png" /></div>
        <a href="/">Home (New Customer)</a>
        <a href="/?IsReturn=Y">Home (return Customer)</a>
        <a class="active" href="#">Masonry Folio</a>
        <a href="#">Show Reel</a>
        <a href="#">Gallery</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <!-- Navigation Trigger Button -->
    <div id="sm-trigger"><p id="vertical-logo">identity</p></div>
</nav>