<nav class="menu" id="sm">
    <div class="sm-wrap">
        <div id="logo" class="text-center"><img alt="" title="" src="/images/logo.png" /></div>
        <a href="/">Home</a>
        <a href="mediafolio.html">Media Folio</a>
        <a class="active" href="#">Masonry Folio</a>
        <a href="showreel.html">Show Reel</a>
        <a href="gallery.html">Gallery</a>
        <a href="about.html">About</a>
        <a href="services.html">Services</a>
        <a href="contact.html">Contact</a>
        <a href="single-project.html">Single Project</a>
    </div>
    <!-- Navigation Trigger Button -->
    <div id="sm-trigger"><p id="vertical-logo">identity</p></div>
</nav>