<nav class="menu" id="sm">
    <div class="sm-wrap">
        <div id="logo" class="text-center"><img alt="" title="" src="/images/logo.png" /></div>
        <a class="active" href="/">Home (New Customer)</a>
        <a href="/?IsReturn=Y">Home (return Customer)</a>
        <a href="#">Masonry Folio</a>
        <a href="/Home/Bootstrap">Bootstrap</a>
        <a href="#">Gallery</a>
        <a href="/Home/AboutUs">About</a>
        <a href="/Home/Contact">Contact</a>
    </div>
    <!-- Navigation Trigger Button -->
    <div id="sm-trigger"><p id="vertical-logo">identity</p></div>
</nav>