@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MessageType"] fade in alert-dismissable text-center">
        <button id="CloseMessageButton" type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        @TempData["Message"]
    </div>
}