@{
    var pageName = SiteMap.CurrentNode != null ? SiteMap.CurrentNode.Title : "";
    var title = ViewBag.Title ?? ViewBag.SubTabName ?? ViewBag.TabName ?? pageName;
}
<title>@title - iKitchen</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="iKitchen">
<meta name="author" content="allentranks">
