@{
    var roleId = (int)ViewBag.RoleId;
    var editId = 0;
    var userId = AccountHelper.GetCurrentUser().Id;
}

<div class="top-bar">
    <div class="container">
        <div class="row">
            <!-- logo -->
            <div class="col-md-6 logo">
                <a href="/"><img height="20px" src="/assets/img/kingadmin-logo-white.png" alt="iKitchen" /></a>
                <h4 class="sr-only" style="color:white">iKitchen</h4>
            </div>
            <!-- end logo -->
            <div class="col-md-6">
                <div class="row">
                    @*<div class="col-md-3">
                            <!-- search box -->
                            <div id="tour-searchbox" class="input-group searchbox">
                                <input type="search" class="form-control" placeholder="enter keyword here...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <!-- end search box -->
                        </div>*@
                    <div class="col-md-9 col-md-offset-3">
                        <div class="top-bar-right">
                            <!-- responsive menu bar icon -->
                            <a href="#" class="hidden-md hidden-lg main-nav-toggle"><i class="fa fa-bars"></i></a>
                            <!-- end responsive menu bar icon -->
                            @*<button type="button" id="start-tour" class="btn btn-link"><i class="fa fa-refresh"></i> 帮助</button>*@
                            @*<button type="button" id="global-volume" class="btn btn-link btn-global-volume"><i class="fa"></i> <span class="badge element-bg-color-blue">新消息</span></button>*@
                            <div class="notifications">
                                <ul>
                                    <!-- notification: inbox -->
                                        <li class="notification-item inbox">
                                            <div class="btn-group">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-envelope"></i>
                                                    <span class="count">9</span>
                                                    <span class="circle"></span>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li class="notification-header">
                                                        <em>你有 <span class="text-danger">8</span> 条站内短信</em>
                                                    </li>

                                                    <li class="inbox-item unread clearfix">
                                                        <a href="#" title="点击查看">
                                                            <div class="media">
                                                                <div class="pull-left" href="#">
                                                                    <img class="media-object" src="/assets/img/user3.png" alt="Antonio">
                                                                </div>
                                                                <div class="media-body">
                                                                    <h5 class="media-heading name">报告完成</h5>
                                                                    <p class="text">【xxxxxx】已经完成。</p>
                                                                    <span class="timestamp">@DateTime.Now</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    @*<li class="notification-footer">
                                                        <a href="#">View All Messages</a>
                                                    </li>*@
                                                </ul>
                                            </div>
                                        </li>
                                        <!-- end notification: inbox -->
                                    <!-- notification: general -->
                                    <li class="notification-item general" >
                                        <div class="btn-group">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="查看待办项目">
                                                <i class="fa fa-bell"></i>
                                                    <span class="count">9</span>
                                                <span class="circle"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="notification-header">
                                                    <em>你有 <span class="text-danger">9</span> 个待办项目</em>
                                                </li>
                                                    <li title="">
                                                        <a href="#">
                                                            <i class="fa fa-edit green-font"></i>
                                                            <span class="text">xxxxxxx blalbal</span>
                                                            @*<span class="timestamp">@assessment.UpdateOn.ToString("yyyy-MM-dd")</span>*@
                                                        </a>
                                                    </li>

                                                <li class="notification-footer">
                                                    <a href="/iKitchen/Assessment/Todo">查看所有待办项目</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- end notification: general -->
                                </ul>
                            </div>
                            <!-- logged user and the menu -->
                            <div class="logged-user">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                        <img src="/assets/img/user-avatar.png" width="24" />
                                        <span class="name">@ViewBag.CurrentUserName [admin]</span> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="/Account/EditProfile">
                                                <i class="fa fa-user"></i>
                                                <span class="text">个人资料</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Account/Password">
                                                <i class="fa fa-cog"></i>
                                                <span class="text">修改密码</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Account/Logoff">
                                                <i class="fa fa-power-off"></i>
                                                <span class="text">安全退出</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end logged user and the menu -->
                        </div><!-- /top-bar-right -->
                    </div>
                </div><!-- /row -->
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /top -->