@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!-- CSS Page Style -->
<link rel="stylesheet" href="/assets/css/pages/page_404_error1.css">   
<!--=== Content Part ===-->
<div class="container">
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v2">
                <span class="error-v2-title">503</span>
                <span>Internal error!</span>
                <p>An error occured when processing your request. <br> That’s all we know.</p>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div><!--/container-->
<!--=== End Content Part ===-->