<section id="gallery" class="gallery gallery-bg">

    <!-- inner-section : starts -->
    <section id="gallery-wrap" class="inner-section">
        <!-- container : starts -->
        <section class="container">
            <div class="row">
                <article class="col-md-4 text-left">
                    <div class="welcome pad-common  border-top-main">
                        <h1 class="main-heading">404 Error</h1>
                        <span class="liner-medium"></span>
                    </div>
                </article>
                <article class="col-md-8 text-left">
                    <div class="welcome high-bg pad-common  border-top-dark">
                        <h3 class="sub-heading white-text"><span>The page you are looking for is not found</span></h3>
                        <a href="/" class="btn btn-identity">Go back to home</a>
                    </div>
                </article>
            </div>

            <div class="row">
                <article class="col-md-12 text-left">
                    <img alt="" title="" class="img-responsive" src="/images/parallax/01.jpg" />
                </article>
            </div>

        </section>
        <!-- container : ends -->
    </section>
    <!-- inner-section : ends -->
</section>